*
{
          margin: 0px;
        padding: 0px;
}


      body {

        background-image:url('img/back.jpg');
background-attachment:fixed;
background-position:center; 
background-size:100% 100%;
background-repeat: no-repeat;
color : black;
font-family : 'Audiowide', cursive;
width: 100%;
      }


      #myCanvas {
        border: 1px solid #9C9898;
        
        
      }
   
    #canvas {
        border: 1px solid #9C9898;
        
        
      }


       #hexagonart {
       
        width: 40.83333333333333%;
        margin-left: 35%;
      }

#main-content
{

  display: inline-block;
  margin-left: 30%;
}

#dacanvas
{

  display: inline-block;
  margin-left: 30%;
}

li
{

  display: inline;
  margin-left: 3%;
  margin-top: 4%;


}


ul
{


  margin-top: 2%;


}

footer
{
  text-align: center;
  margin-left: 10%;
  color : #666666;
}

nav
{
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}